:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 2px;
  font-size: 2.3em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/*Levelアイコン*/


/*ユーザー情報とアイテム欄*/

/*navigatebar*/
.home-bottom-btn {
  bottom: 0;
  position: fixed;
  z-index: 8;
  margin-left: 5px;
}
.home-bottom-btn button {
  font-size: 2em;
  padding: 43px;  

}

/*QuizTabのcss記述*/
.QTab{
  font-weight: bold;
  margin-top: 2.3em;
  text-align: center;
}

.QTab .KYomenai{
  color: #1a1a1a;
  font-size: 2.3em;
}

.QTab .KYomenai button{
  font-size: 80%;
}

.QTab .KKentei {
  color:#1a1a1a;
  font-size: 2.3em;
  margin-top: 2.3em;

}

.QTab .KKentei button{
  font-size: 80%;
}

/*Quiz一覧*/
.Quizbox {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height:500px; /* 最大の高さを設定 */
  overflow-y: auto; /*スクロール表示*/

}








